<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- support json format -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
        </staticContent>
        <rewrite>
            <rules>
                <!-- redirect http to https -->
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 